

.navigation {
  list-style: none;
  background: black; 
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*hides nav behind content */
  z-index: 0;
  /*get rid of color gap on top of menu*/
  margin-top: 0;   
}

a {
  font-family: "cooper-black-std",sans-serif;
  text-decoration:none;
  color: #ffffff; /*white*/
  font-weight: 700;
}

li.first {
	padding: 30px  18px  18px  18px;
  	font-size: 22px;
}

li.nav-item {
  padding: 18px;
  font-size: 22px;
}
       /*--------end of navigation styling--------*/


/*.wrapper {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
  
  -ms-flex-direction: row;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -ms-box-orient: horizontal;
  box-orient: horizontal;
}

.navbar {
/*  background: hotpink;
  width: 25%;
-ms-flex: 0 100px;
-webkit-box-flex:  0;
-moz-box-flex:  0;
-ms-box-flex:  0;
box-flex:  0;  
	display: flex;
	flex-direction:column;

}

.nav {
	margin-left: 10%;
}

#logo {
	margin-top: 10%;
	margin-bottom: 5%;
}
*/

.site-wrap {
  max-width: 100%;
  min-height: 100%;
  background-color: #ffffff; /* white */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
/*  padding: 4em; */
  /*spaces out content from hamburger*/
}

    /*----stylize nav-trigger actions and looks-----*/
/*hide the checkbox*/
.nav-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /*nav stays in the same spot as user scrolls*/
  position: fixed; 
  /*position hamburger menu*/
  top: 15px;
  left: 25px;
  /*z-index needs to be 1 higher than site-wrap*/
  z-index: 2;
  width: 30px;
  height: 30px;
  /*changing to pointer indicates interactivity*/
  cursor: pointer;
/*  color: #111111;*/
}

/*styling to create "hamburger" icon (refer to notes)*/
.hidden_nav:before {
	content: "";
	position: absolute;
	top: 1em;
	width: 2em;
	height: .25em;
	border-top: .7em double #000;
	border-bottom: 0.25em solid #000;
	z-index: 3;
}

/*the following lines make the effect work*/
/*below styling controls label position when menu opens- add 15px, because we did left:15px in label[for="nav-trigger"]*/
/*uses adjacent sibling selector (+)--> nav-trigger:checked must come first so label moves after checkbox is activated*/
.nav-trigger:checked + label {
  left: 200px;
}

/*ensures that the site-wrap is pushed to the right*/
/*uses general sibling selector (~) to target site wrap after nav-trigger gets activated*/
.nav-trigger:checked ~ .site-wrap {
  left: 180px;
}

/*add slight transition to effect*/

.nav-trigger + label, .site-wrap {
  transition: left 0.2s;
}

/*keep site-wrap from scrolling across window from left to right when menu is opened*/
body {
  overflow-x: hidden;
  margin: 0;
  background-color: black;

}
    /*----end of styling navigation actions and looks----*/

/*---end of what is required for sliding hamburger drawer effect--*/



#gallery {
 -ms-flex: 1;
 -webkit-box-flex: 1;
 -moz-box-flex: 1;
 -ms-box-flex: 1;
 box-flex: 1;  
	display: flex;;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-top: 5%;
	padding-right: 5%;
	padding-left: 10%;
	padding-bottom: 7%;
}

.container {
/*	background: blue;*/
/*	height:calc(100% * (1/1.5) - 10px - 1px);
	width: calc(100% * (1/4) - 10px - 1px);*/
height: 426;
width: 300;
	margin-top: 3%;
}

#backgroundimage {
	width: 100%;
	text-align: center;

}

.bigcontainer {
  margin-right: auto;
  margin-left: auto;
}